.App {
  text-align: center;
  margin-left: 4rem;
  margin-right: 4rem;
}
.header-text {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.city-selector {
  display: 'inline';
  margin-left: 2rem;
}

.active-tab {
  background-color: blue;
  color: white;
}

.inactive-tab {
  background-color: rgb(197, 194, 194);
  color: black;
}

.category-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
